@model Fleet_Managment_Production.Models.Cost

@{
    ViewData["Title"] = "Szczegóły Kosztu";
}

<h1>Szczegóły Kosztu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @(Model.Vehicle?.LicensePlate ?? (Model.Vehicle != null ? $"{Model.Vehicle.Make} {Model.Vehicle.Model}" : "Brak pojazdu"))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kwota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kwota) zł
        </dd>
    </dl>
</div>
<div>
    @if (Model.Type != Fleet_Managment_Production.Models.CostType.Przegląd && Model.Type != Fleet_Managment_Production.Models.CostType.Ubezpieczenie)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edytuj</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
</div>