@model IEnumerable<Fleet_Managment_Production.Models.Cost>

@{
    ViewData["Title"] = "Rejestr Kosztów";
}

<h1>Rejestr Kosztów</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowy koszt</a>
</p>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kwota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @(item.Vehicle?.LicensePlate ?? (item.Vehicle != null ? $"{item.Vehicle.Make} {item.Vehicle.Model}" : "Brak pojazdu"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kwota) zł
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edytuj</a>
                    <a asp-action="Detalis" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Szczegóły</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>